@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Custom Scrollbar */
@layer utilities {
    .scrollbar-thin::-webkit-scrollbar {
        width: 6px;
    }
    
    .scrollbar-thin::-webkit-scrollbar-track {
        background: transparent;
    }
    
    .scrollbar-thin::-webkit-scrollbar-thumb {
        background: rgb(209 213 219);
        border-radius: 3px;
    }
    
    .scrollbar-thin:hover::-webkit-scrollbar-thumb {
        background: rgb(156 163 175);
    }
    
    .scrollbar-thumb-gray-300::-webkit-scrollbar-thumb {
        background: rgb(209 213 219);
    }
    
    .scrollbar-thumb-gray-400::-webkit-scrollbar-thumb {
        background: rgb(156 163 175);
    }
    
    .scrollbar-track-transparent::-webkit-scrollbar-track {
        background: transparent;
    }
}
